:root { --green: #006666; }
 
body { color: rgb(153, 153, 153); font-family: monospace !important; font-size: 10pt; background-color: rgb(0, 0, 0); }
/*a:link, a:visited, a:active { color: var(--green); text-decoration: none; }*/
a:hover { text-decoration: underline !important; }
 
.mainbox{ padding: 7px; position: fixed; top: 35%; left: 0; right: 0; bottom: 0; margin: auto;  /*outline: var(--green) solid 1px;*/ display: table; margin-top: 30px; }
.mainbox div { margin-top: -15px; }
#search{ width: 100%; padding: 0; position: fixed; bottom: 0%; }
#searchlist{ width: 100%; padding: 0; position: fixed; bottom: 0px; opacity: 0.7; }
#q{ font-family: monospace; width: 80%; background-color: rgb(0, 0, 0); color: rgb(193, 180, 146); outline: none; border: none; }
#text { text-align: left; padding: 7px; position: fixed; top: 155px; left: 0; right: 0; bottom: 0; margin: auto; display: table; }
#date, #clock { margin-top: -15px; }

#hide { opacity: 0.0; -webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -ms-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; transition: all 500ms ease-in-out; display: inline; position: absolute; background-color: black; border: 2px solid #0c0c0c; padding: 5px; visibility: hidden; }
#show { width:80px; height:20px; margin-bottom:15px; display:inline; }
#show:hover + #hide, #hide:hover { opacity: 1.0; visibility: visible; }